body {
  background-color: rgb(30, 30, 30);
}

* {
  /* border: 1px solid black; */
  color: white;
}

body {
  border: 1px solid gold;
  margin: 0.7rem 1rem;
}

img {
  width: 600px;
  height: 500px;
  border: 1px solid gold;
}

.explanation-wrapper {
  border: 1px solid gold;
  background-color: rgb(39, 39, 39);
  width: 45%;
  margin: 1rem 0;
}

.img-wrapper {
  border: 1px solid gold;
  background-color: rgb(39, 39, 39);
  margin: 1rem 0;
}

.explanation {
  line-height: 2rem;
}
